



<!-- IMPLEMENT REST API AFTER CONNECTING DB -->




<!-- <h1>YOU HAVE REACHED THE PLAYLISTS PAGE</h1>


<iframe src="https://open.spotify.com/embed/playlist/0lmgeBEG8AmHKisaiRpzPu" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe> -->


<head>
	<link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<div class ="container">
	 <div class ="row text-center" style="display:flex; flex-wrap:wrap">
            <div class ="col-md-3 col-sm-6">
                <div class ="thumbnail" id="indexThumbnail">
                    <img src = "https://www.melodynest.com/wp-content/uploads/2019/06/SPACE-BLANK_chs060619-607x607.png">
                    <div class= "caption">
                        <h4>IPR</h4>
                    </div>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <div class ="col-md-3 col-sm-6">
                <div class ="thumbnail" id="indexThumbnail">
                    <img src = "https://www.melodynest.com/wp-content/uploads/2019/06/SPACE-BLANK_chs060619-607x607.png">
                    <div class= "caption">
                        <h4>IPR</h4>
                    </div>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <div class ="col-md-3 col-sm-6">
                <div class ="thumbnail" id="indexThumbnail">
                    <img src = "https://www.melodynest.com/wp-content/uploads/2019/06/SPACE-BLANK_chs060619-607x607.png">
                    <div class= "caption">
                        <h4>IPR</h4>
                    </div>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
            <div class ="col-md-3 col-sm-6">
                <div class ="thumbnail" id="indexThumbnail">
                    <img src = "https://www.melodynest.com/wp-content/uploads/2019/06/SPACE-BLANK_chs060619-607x607.png">
                    <div class= "caption">
                        <h4>IPR</h4>
                    </div>
                    <a href="#" class="btn btn-primary">More Info</a>
                </div>
            </div>
    </div>

</div>