<head>
	<link rel="stylesheet" href = "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href = "/stylesheets/app.css">
</head>

<div class ="container">
    <div class ="row text-center" style="display:flex; flex-wrap:wrap">
        <% playlists.forEach(function(playlist){ %>
            <div class ="col-md-3 col-sm-6">
                <div class ="thumbnail" id="indexThumbnail">
                    <img src = "<%= playlist.image %>">
                    <div class= "caption">
                        <h4><%=  playlist.name  %></h4>
                    </div>
                    <a href="/playlists/<%= playlist._id %>" class="btn btn-primary">More Info</a>
                </div>
            </div>
        <% }); %>
    </div>
</div>