#indexThumbnail{        
    /*width : 90%;
    height: 90%;*/
    overflow: auto;
    padding : 0;
}

#indexThumbnail img{
    width: 100%;
    height: 50%;
}

/*.thumbnail img{
	width :100%;
}

.thumbnail{
	padding: 0;
}*/

.navbar-nav > li{
  padding-left: 10px;
  padding-right: 10px;
}